.rounded-corners {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.date-with-movie {
    -fx-background-color: #ccf9b2; /* Light red background */
    -fx-text-fill: black;
}


.hover-button {
    -fx-background-color: #76ABAE; /* Initial color */
    -fx-text-fill: #222831
}

.hover-button:hover {
    -fx-background-color: #EEEEEE; /* Color on hover */
}