@import url("../catalogM/style.css");
@import url("../catalogM/styleColor.css");

.button {
    -fx-alignment: center;
    -fx-pref-width: auto;
    -fx-text-fill: black;
    -fx-font-size: 16.0;
    /*-fx-padding: 5.0 8.4;*/
    -fx-pref-height: 30;
}

#ChartBorderPane{
    -fx-background-color: white;
}

#exitBtn{
    -fx-font-size: 20.0;
    -fx-text-overrun: red;
}

#clearFilterButton{
    -fx-background-color: #959595;
}

#getReportBtn{
    -fx-background-color: #edff56;
}